* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 1rem;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  padding: 1rem;
  background-color: gray;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

img {
  float: left;
  margin-top: 3vh;
}

section {
  margin: auto;
  margin-top: 1rem;
  border: 1px solid black;
  height: 400px;
  width: 600px;
  padding: 2rem;
}

.fifth {
  display: flex;
  justify-content: end;
}

input {
  margin-left: 3px;
  margin-top: 3vh;
  padding: 10px;
  cursor: pointer;
}
