*{
    padding: 0;
    margin: 0;
}


h1{
    text-align: center;
    margin-top: 1rem;
}



ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    flex-wrap: wrap;
}


li{
    padding: 1rem;
    background-color: gray;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 10px;
}


img{
    float: left;
    margin-top: 6vh;
    margin-left: 3rem;
}


section{
    margin: auto;
    margin-top: 1rem;
    border: 1px solid black;
    height: 300px;
    width: 600px;
}

input{
    display: block;

}
