* {
  padding: 0;
  margin: 0;
  outline: none;
}

h1 {
  text-align: center;
  margin-top: 1rem;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  padding: 1rem;
  background-color: gray;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

img {
  float: left;
  margin-top: 3vh;
}

section {
  margin: auto;
  margin-top: 1rem;
  border: 1px solid black;
  height: 400px;
  width: 600px;
  padding: 2rem;
}

/* .fifth {
  display: flex;
  justify-content: end;
} */

input {
  width: 130px;
  margin-top: 7px;
  padding: 6px;
  cursor: pointer;
  float: left;
}

.fifth{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
}